<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="stylesheet" href="/src/style.css">
    <link rel="icon" href="favicon.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<title>Portfoleez</title>
</head>
  <body style="align-content: center;">
    <div class="topnav">
        <img class="logo-temp2 avatar-temp2" src="/src/img/mira-albrecht.jpg" width="3">
    </div>
   
   
    
    <h1 class="main-name-lg glow-rainbow">Mira Albrecht</h1>
    <h1 class="main-name-lg glow-green-dim">Web- und Appdeveloperin mit ❤️</h1>
    <h1 class="main-name-lg glow-green-dim">>>Das was andere in ner' Woche schaffen, schaffe ich in 2 Tagen<<</h1>
    <div class="box-glow-white options"><p>Hier könnten ihre Apps und Websites Platz finden, Werbung? Nein! Ihre Werke zur Schau</p></div><br>
    <a class="link-glow-rainbow">Mira's Linktree</a>
    <button onclick="alert('Test button')"class="btn-glow-red button btn-fill-red">Mira on BuyMeACoffee</button>
 

   <div class="footer">
    <a href="https://freepik.com">Photos: Freepik.com &trade;</a>
   </div>

  </body>
</html>
