<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="stylesheet" href=""https://lokrogaming.github.io/portfoleez/src/style.css">
    <link rel="icon" href="favicon.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<title>Portfoleez</title>
</head>
  <body style="align-content: center;">
   
   
    <img class="logo-lg avatar" src=""https://lokrogaming.github.io/portfoleez/src/img/laura-steinmann.jpg">
    <h1 class="main-name-lg glow-white-dim">Laura Steinmann</h1>
    <h1 class="main-name-lg glow-green-dim">Bekannte und erfolgreiche Streamerin mit ❤️</h1>
    <h1 class="main-name-lg glow-green-dim">Auszubildende und Studierende aus Hamburg</h1>
    <div class="box-glow-white options"><p>Hier könnte ihr Stream eingebettet sein!</p></div><br>
    <a class="link-glow-rainbow">Laura's Linktree</a>
    <button onclick="alert('Test button')"class="btn-glow-red button btn-fill-red">Laura on BuyMeACoffee</button>
 

   <div class="footer">
    <a href="https://freepik.com">Photos: Freepik.com &trade;</a>
   </div>

  </body>
</html>
